.bloc_image{
    width: 100%;
    height: 40%;
    @include flex-box(flex, wrap, column, center, center);
    h1{
        color: rgb(224, 117, 17); 
        font-size: 20px; 
        font-weight: 100; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        @include respond-to(940px){
            padding: 0;
        }
        @include respond-to(483px){
            font-size: 15px;
        }
    }
}

    